<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script id="MathJax-script" async
        src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/MathJax/mathjax.js"></script>

    <script
        src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/mats/resources/expresionNumericaClass.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/vue.global.js"></script>


    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloque.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlace.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadro.js"></script>

    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlaceEstilo.css">


    <title>Asociatividad - asociación</title>

</head>

<body>
    <div id="doc">
        <p>
            Comprendo el concepto de asociatividad si:
        </p>
        <bloque-component tipo="evaluacion">
            <template #cabecera>
                Puedo explicar qué es la asociatividad.
            </template>
        </bloque-component>

        <bloque-component tipo="evaluacion">
            <template #cabecera>
                Conozco una lista de operaciones aritméticas asociativas.
            </template>
        </bloque-component>


        <bloque-component tipo="evaluacion">
            <template #cabecera>
                Dada cualquier expresión numérica puedo decidir si hay aplicación doble de una operación
                asociativa y, en caso afirmativo, puedo escribir una expresión alterna idéntica teniendo en cuenta la
                asociatividad.
            </template>

            <recuadro-component tipo='instruccionPointer'>
                <p>
                    Selecciona la dificultad
                </p>
                <input id='inputDificultadReto3' ref="inputDificultadReto3" v-model="dificultadReto3" type="range"
                    min="1" max="3">
                <p>
                    {{dificultadReto3}}
                </p>

            </recuadro-component>
            <div class='flexVertical'>
                <div class='boton' @click="generarReto3">
                    Generar expresión
                </div>

                <transition name="enterTop">
                    <div id='reto3' v-if="reto3" :key="'reto3' + versionReto3" class="matsExpresion"
                        style="font-size: 30px">
                        \({{reto3.toMathJax()}}\)
                    </div>
                </transition>

                <transition name="fadeIn">
                    <div id='contenedorBotonesRespuestaPresenciaAsociatividadReto3' v-if="reto3">
                        <div class='boton selector'
                            :class="{seleccionado: respuestaPresenciaAsociatividadReto3 === true}"
                            @click="setRespuestaPresenciaAsociatividadReto3(true)">
                            Hay asociatividad
                        </div>
                        <div class='boton selector'
                            :class="{seleccionado: respuestaPresenciaAsociatividadReto3 === false}"
                            @click="setRespuestaPresenciaAsociatividadReto3(false)">
                            No hay asociatividad
                        </div>
                    </div>
                </transition>

                <transition name="popIn">
                    <recuadro-component tipo='infoResultado'
                        v-if="respuestaPresenciaAsociatividadReto3 != null && presenciaAsociatividadReto3 != null"
                        :key="'infoResultadoRespuestaPresenciaAsociatividadReto3' + versionRespuestaPresenciaAsociatividadReto3"
                        :modo="respuestaPresenciaAsociatividadReto3 === presenciaAsociatividadReto3?'correcto':'incorrecto'">

                    </recuadro-component>

                </transition>
            </div>

        </bloque-component>

    </div>

</body>

</html>

<script>
    function checkAsociatividadExpresion(expresion) {
        let hayAsociatividad = false;
        if (!expresion.fullExpresion) {
            return false;
        }

        //Ahora se sabe que ésta es una expresión

        if (checkAsociatividadExpresion(expresion.numero1) || checkAsociatividadExpresion(expresion.numero2)) {
            return true;
        }
        if (expresion.numero1.fullExpresion) {

            if ((expresion.operacion === "suma" || expresion.operacion === "multiplicacion") && expresion.numero1.operacion === expresion.operacion) {
                return true
            }

        }
        return false;

    }
    const {createApp} = Vue;


    const expresionPrueba = new ExpresionNumerica({
        numero1: new ExpresionNumerica({valor: 1}),
        operacion: "suma",
        numero2: new ExpresionNumerica({
            numero1: new ExpresionNumerica({valor: 5}),
            operacion: "radicacion",
            numero2: new ExpresionNumerica({
                numero1: new ExpresionNumerica({
                    numero1: new ExpresionNumerica({valor: 2}),
                    operacion: "multiplicacion",
                    numero2: new ExpresionNumerica({valor: 3}),
                }),
                operacion: "multiplicacion",
                numero2: new ExpresionNumerica({valor: 4}),
            })

        })

    })
    const expresionPrueba2= new ExpresionNumerica({
        numero1: new ExpresionNumerica({
            numero1: new ExpresionNumerica({
                numero1: new ExpresionNumerica({valor: 1}),
                operacion: "suma",
                numero2: new ExpresionNumerica({valor: 2})
            }),
            operacion:"suma",
            numero2: new ExpresionNumerica({valor: 3}),
        }),
        operacion: "resta",
        numero2:new ExpresionNumerica({
            numero1: new ExpresionNumerica({valor: 4}),
            operacion: "division",
            numero2: new ExpresionNumerica({valor: 5}),
        })
    })

    createApp({
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent
        },
        data() {
            return {
                dificultadReto3: 1,
                reto3: null,
                versionReto3: 0,
                presenciaAsociatividadReto3: null,
                respuestaPresenciaAsociatividadReto3: null,
                versionRespuestaPresenciaAsociatividadReto3: null,
            }
        },
        methods: {
            reiniciarReto3() {
                this.reto3 = null;
                this.presenciaAsociatividadReto3 = null;
                this.respuestaPresenciaAsociatividadReto3 = null;
            },
            generarReto3() {
                this.reiniciarReto3();
                let laExpresion = new ExpresionNumerica();
                laExpresion.fillExpresion({keepInteger: true});
                laExpresion.reexpresionar(Number(this.dificultadReto3), {keepInteger: true});

                let forceAsociatividad = Math.random() < 0.5;
                if (forceAsociatividad) {
                    let operacion = Math.random() > 0.5 ? "multiplicacion" : "suma";
                    laExpresion.operacion = operacion;
                    laExpresion.numero1.operacion = operacion;
                }

                this.reto3 = laExpresion;
             //   this.reto3 = expresionPrueba2;
                this.versionReto3++;
                this.presenciaAsociatividadReto3 = checkAsociatividadExpresion(this.reto3);
            },
            setRespuestaPresenciaAsociatividadReto3(res) {
                this.respuestaPresenciaAsociatividadReto3 = res;
                this.versionRespuestaPresenciaAsociatividadReto3++;
            },


        },
        watch: {
            versionReto3() {
                this.$nextTick(() => {
                    MathJax.typeset();
                });
            },

        }

    }).mount("#doc");
</script>

<style>
</style>
