<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/vue.global.js"></script>

    <script id="MathJax-script" async
        src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/MathJax/mathjax.js"></script>
    <script
        src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/mats/resources/expresionNumericaClass.js"></script>

    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloque.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlace.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadro.js"></script>

    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlaceEstilo.css">


    <title>Ecuaciones e inecuaciones</title>
</head>

<body>
    <div id="doc">
        <p>
            Comprendo los conceptos de ecuación e inecuación si:
        </p>
        <bloque-component tipo="evaluacion"
            textoCabecera="Dada una igualdad o desigualdad puedo determinar si es una ecuación o una inecuación.">

            <div class='flexVertical'>
                <div class='boton' @click="generarReto1">
                    Generar igualdad o desigualdad
                </div>
                <transition name="enterTop">
                    <div id='reto1' v-if="reto1" :key="'reto1v' + versionReto1" class="matsExpresion"
                        style="font-size: 30px">
                        {{reto1.toMathJax()}}
                    </div>
                </transition>

                <transition name="fadeIn">
                    <div id='contenedorBotonesRespuestaReto1' v-if="reto1" class="flexHorizontal">
                        <div class='boton selector' @click="setRespuestaReto1(true)"
                            :class="{seleccionado: respuestaReto1===true }">
                            Es una {{palabraRespuestaReto1}}
                        </div>
                        <div class='boton selector' @click="setRespuestaReto1(false)"
                            :class="{seleccionado: respuestaReto1===false }">
                            No es una {{palabraRespuestaReto1}}
                        </div>
                    </div>
                </transition>

                <transition name="popIn">
                    <recuadro-component tipo='infoResultado'
                        :modo="respuestaReto1===esInEcuacionReto1?'correcto':'incorrecto'"
                        v-if="respuestaReto1 != null && esInEcuacionReto1 != null"
                        :key="'infoRespuestaReto1v' + versionRespuestaReto1 ">
                    </recuadro-component>

                </transition>

            </div>


        </bloque-component>
    </div>
</body>

</html>

<script>
    const {createApp} = Vue;
    createApp({
        el: "#doc",
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent
        },
        data() {
            return {
                reto1: null,
                versionReto1: 0,
                esInEcuacionReto1: null,
                respuestaReto1: null,
                palabraRespuestaReto1: null,
                versionRespuestaReto1: 0,
            }
        },
        methods: {
            reiniciarReto1() {
                this.reto1 = null;
                this.esInEcuacionReto1 = null;
                this.respuestaReto1 = null;
            },
            generarReto1() {
                this.reiniciarReto1();
                let primeraExpresion = new ExpresionNumerica();
                primeraExpresion.valor = ExpresionNumerica.generarNumero();

                const forceIgualdad = Math.random() < 0.5;
                let segundaExpresion = new ExpresionNumerica();
                segundaExpresion.valor = forceIgualdad ? primeraExpresion.valor : ExpresionNumerica.generarNumero();

                primeraExpresion.fillExpresion({keepInteger: true});
                segundaExpresion.fillExpresion({keepInteger: true});


                const reexpresiones = Math.round(Math.random() * 2);

                primeraExpresion.reexpresionar(reexpresiones - 1, {keepInteger: true});
                segundaExpresion.reexpresionar(reexpresiones, {keepInteger: true});

                const algebraica = Math.random() > 0.5;
                this.esInEcuacionReto1 = algebraica;

                if (algebraica) {
                    if (Math.random() < 0.5) {
                        primeraExpresion.incognitarRandomNumero();
                    }
                    else {
                        segundaExpresion.incognitarRandomNumero();
                    }
                }

                let laComparacion = new EcInEcuacion({
                    miembro1: primeraExpresion,
                    miembro2: segundaExpresion,
                });

                this.reto1 = laComparacion;
                this.versionReto1++;
                this.palabraRespuestaReto1 = this.reto1.comparador === '=' ? 'ecuación' : 'inecuación';
            },
            setRespuestaReto1(res) {
                this.respuestaReto1 = res;
                this.versionRespuestaReto1++;
            },

        },
        watch: {
            versionReto1() {
                this.$nextTick(() => {
                    MathJax.typeset();
                });
            },

        }

    }).mount("#doc");
</script>

<style>

</style>
