<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/vue.js"></script>

    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloque.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlace.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadro.js"></script>

    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlaceEstilo.css">

    <title>Números geométricos - Raiz

    </title>
</head>

<body>
    <div id="doc">

        <p>
            Para formar un número mediante elevación se inicia con un número base. Este número es llamado <span
                class="resaltado">número raiz</span>.
        </p>

        <recuadro-component tipo="datoPrevio">
            <ul>
                <li>
                    Si el número esta en forma cuadrada, su raiz se llama <span class="resaltado">raiz cuadrada</span>.
                </li>
                <li>
                    Si el número está en forma triangular, su raiz se llama <span class="resaltado">raiz triangular</span>.
                </li>
                
            </ul>
        </recuadro-component>

        <bloque-component tipo="ejemplo" @plegado="reiniciar">
            <template #cabecera>
                En este cuadro se puede seleccionar un número con forma geométrica y ver su raiz.
            </template>

            <div id="bloqueSeleccionNumero" v-show="!numeroRaiz" >
                <div class="boton" @click="gradoElevacion=5; numeroRaiz=5; figura='cuadrado'">
                    Seleccionar el 25 en forma de cuadrado
                </div>
                <div class="boton" @click="gradoElevacion=4; numeroRaiz=4; figura='cuadrado'">
                    Seleccionar el 16 en forma de cuadrado
                </div>
                <div class="boton" @click="gradoElevacion=5; numeroRaiz=5; figura='triangulo'">
                    Seleccionar el 15 en forma de triángulo
                </div>
            </div>

            
            <div id="bloqueElevar" v-if="numeroRaiz && figura">

                <div id="numeroTotalTexto">
                    {{numeroTotal}}
                </div>
                
                <div id="numeroTotal" :style="[estiloMargenTop]">
                    <transition-group name="travelBottom">
                        <div class="filaElevacion" :class="{numeroRaiz: fila===1 && mostrarRaiz, fantasmeada: fila!=1 && mostrarRaiz}" v-for="fila of gradoElevacion" :key="'filaElevacion'+fila">
                            <div class="bolitaNumero" v-for="bola of getBolasFila(fila)" :key="'bola'+bola">

                            </div>
                        </div>
                    </transition-group>
                </div>       
                
                <div class="boton" @click="mostrarRaiz=true;" :class="{deshabilitado: mostrarRaiz}">
                    Mostrar el número raiz
                </div>

                <transition name="fade">
                    <recuadro-component tipo="datoNuevo" v-show="mostrarRaiz">
                        La raiz {{figura==='cuadrado'?'cuadrada':figura==='triangulo'?'triangular':''}} del {{numeroTotal}} es {{numeroRaiz}}
                    </recuadro-component>
                </transition>
            </div>

        </bloque-component>
    </div>
</body>

</html>


<script>

    const doc = new Vue({
        el: "#doc",
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent
        },
        data() {
            return {
                numeroRaiz: null,
                figura: null,
                gradoElevacion: 1,

                mostrarRaiz:false,
            }
        },
        methods: {
            getBolasFila(fila) {
                if (!this.numeroRaiz || !this.figura) {
                    return null;
                }
                if (this.figura === 'cuadrado') {
                    return this.numeroRaiz
                }
                else if (this.figura === 'triangulo') {
                    return this.numeroRaiz - (fila - 1)
                }

                return 0;
            },
            reiniciar() {
                this.numeroRaiz = null;
                this.figura = null;
                this.gradoElevacion = 1;
                this.mostrarRaiz=false;
            },

        },
        computed: {
            estiloMargenTop() {
                let espacioFila = 30;
                let espaciosRestantes = this.numeroRaiz - this.gradoElevacion;
                return {
                    marginTop: (espacioFila * espaciosRestantes) + 'px'
                }
            },
            numeroTotal(){
                if(!this.numeroRaiz || !this.figura){
                    return 0;
                }
                if(this.figura==='cuadrado'){
                    return Math.pow(this.numeroRaiz, 2);
                }
                else if (this.figura==='triangulo'){
                    return (this.numeroRaiz * (this.numeroRaiz+1))/2;
                }

                return 0;
            }
        }
    })
</script>



<style scoped>
    .filaElevacion {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .filaElevacion.numeroRaiz .bolitaNumero{
        background-color: var(--paletaActual);
        transform: scale(1.1);
        transform-origin: center center;
    }

    .filaElevacion.fantasmeada{
        opacity: 0.3;
    }

    #numeroTotalTexto {
        font-size: 20px;
        text-align: center;
    }

    #numeroTotal span {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .bolitaNumero {
        margin: 0px;
    }
</style>
