<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/vue.js"></script>
    <script id="MathJax-script" async
        src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/MathJax/mathjax.js"></script>

    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloque.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlace.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadro.js"></script>

    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet" href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlaceEstilo.css">



    <title>Potencia</title>
</head>

<body>
    <div id="doc">
        <recuadro-component tipo="datoPrevio">
            Gracias al concepto de números geométricos es posible hablar de <span class="resaltado">niveles de
                potencia</span> de los números.
        </recuadro-component>

        <recuadro-component tipo="datoPrevio">
            Un número expresado normalmente, como el <span class="resaltado">3</span>, está en su potencia inicial. En
            <span class="resaltado">potencia 1</span>.



        </recuadro-component>
        <bloque-component tipo="ejemplo">
            <template #cabecera>
                En este cuadro se muestra una representación de un 3 en <span class="resaltado">potencia 1</span>.
            </template>

            <div class="numero" style="margin: 10px auto; justify-content: center;">
                <div v-for="num of 3" class="bolitaNumero">

                </div>
            </div>
            <div class="expresionMultiplicacion">3</div>
        </bloque-component>
        <recuadro-component tipo="datoPrevio">
            Elevar un número al cuadrado es llamado <span class="resaltado">elevar su potencia</span>. Es decir que pasa
            a <span class="resaltado">potencia 2</span>


        </recuadro-component>
        <bloque-component tipo="ejemplo">
            <template #cabecera>
                En este cuadro se muestra una representación de un 3 en <span class="resaltado">potencia 2</span>.
            </template>

            <div class="numero" v-for="num of 3" style="justify-content: center;">
                <div v-for="num of 3" class="bolitaNumero">

                </div>
            </div>
            <div class="expresionMultiplicacion">\(3 \times 3\)</div>

        </bloque-component>

        <recuadro-component tipo="datoPrevio">
            Elevar un número al cubo es <span class="resaltado">elevar aún más su potencia</span>. Es decir que pasa
            a <span class="resaltado">potencia 3</span>


        </recuadro-component>
        <bloque-component tipo="ejemplo">
            <template #cabecera>
                En este cuadro se muestra una representación de un 3 en <span class="resaltado">potencia 3</span>.
            </template>

            <img src="potencia3.png" style="width: min(100%, 400px);margin: 10px auto; display: block">
            <div class="expresionMultiplicacion">\((3 \times 3) \times 3 \)</div>

        </bloque-component>

        <recuadro-component tipo="datoNuevo">

            Cada vez que se multiplica por sí mismo el número sube un nivel de potencia.

        </recuadro-component>
    

        <bloque-component tipo="herramientaInteractiva">
            <template #cabecera>
                En este cuadro se puede seleccionar un número y subir su potencia aplicando una multiplicáción.
            </template>

            <recuadro-component tipo="instruccionPointer">
                Selecciona un número y eleva su potencia.

            </recuadro-component>
            <input style="display: block; margin: 10px auto;" type="range" v-model="numeroBase" min="0" max="20"
                id="inputNumeroBase" ref="inputNumeroBase" />
            <div id="descripcion" v-show="numeroBase || numeroBase==0">
                {{numeroBase}} {{potencia==1?'en potencia':'elevado a la potencia'}} {{potencia}}.
            </div>
            <div id="expresion" :key="versionExpresion">
                <span id="enExpresion">{{expresion}}</span>
                <span id="enValor">{{valorPotencia}}</span>
            </div>

            <div id="zonaBotonesPotencia">
                <div class="boton" @click="potencia++" v-show="numeroBase || numeroBase==0">Subir potencia</div>
            </div>
        </bloque-component>
    </div>
</body>

</html>

<script>
    const doc = new Vue({
        el: "#doc",
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent
        },
        data() {
            return {
                numeroBase: null,
                potencia: 1,
                versionExpresion: 0,
                expresion: null,
            }
        },
        computed: {
            valorPotencia() {
                return Math.pow(this.numeroBase, this.potencia);
            },            
        },
        watch: {
            numeroBase: {
                handler: function () {
                    this.potencia = 1;
                    this.expresion = this.numeroBase;
                    this.versionExpresion++;

                    this.$nextTick(() => {
                        MathJax.typeset();
                    })
                },
                immediate: false,

            },
            potencia: {
                handler: function () {
                    var expresionFinal = "\\(" + this.numeroBase;
                    for (var i = 2; i <= this.potencia; i++) {
                        expresionFinal = expresionFinal + " \\times " + this.numeroBase;
                    }

                    expresionFinal += " \\)";

                    this.expresion = expresionFinal;
                    this.versionExpresion++;

                    this.$nextTick(() => {
                        MathJax.typeset();
                    })
                },
                immediate: false,

            },
            mounted() {
                this.numeroBase = 5;
            }
        }
    })
</script>

<style>
    .numero {
        display: flex;
    }

    #expresion {
        font-size: 27px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }

    #expresion:not(:hover) #enValor{
        display: none;
    }
    #expresion:not(:hover) #enExpresion{
        display: block;
    }
    #expresion:hover #enValor{
        display: block;
    }
    #expresion:hover #enExpresion{
        display: none;
    }

    #descripcion {
        font-size: 23px;
        text-align: center;
        color: brown;
    }

    .numeroCuadrado {
        display: flex;
        flex-direction: column;
    }

    .expresionMultiplicacion {
        text-align: center;
        font-size: 27px;
        color: brown;
        font-weight: bold;
    }
</style>
