.bloque-component{
    border-radius: 15px;
    max-width: 90%;
    margin: 35px auto;
    padding: 25px;
    background-color: #DEDEDE;
}

.iconoBloque{
    height: 25px;    
}


#zonaCabecera{
    display:flex;
    align-items: center;
    margin-bottom: 40px;
}
#zonaCabecera:not(.spoiler){
    flex-direction: row;
}
#zonaCabecera.spoiler{
    flex-direction: column;
}
#zonaCabecera:not(.spoiler) .iconoBloque{
    margin-right: 25px;
}
#textoSpoiler{
    margin: 10px auto;
    font-size: 11px;
    text-align: center;
}

#desplegable{
    padding: 40px 0px;
}