.enlace-component{
    border-radius: 15px;
    max-width: 90%;
    margin: 35px auto;
    padding: 25px;
    background-color: #DEDEDE;
}
.icono{
    height: 25px;
    margin-right: 25px;
}
#zonaCabecera{
    display:flex;
    align-items: center;
    margin-bottom: 40px;
}