<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/vue.js"></script>

    <script id="MathJax-script" async
        src="https://pe-pe-pe.herokuapp.com/public/resources/libraries/MathJax/mathjax.js"></script>


    <script
        src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/nodosConocimiento/mats/resources/expresionNumericaClass.js"></script>

    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloque.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlace.js"></script>
    <script src="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadro.js"></script>

    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/estilos/estilosGenerales.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/recuadroEstilo.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/bloqueEstilo.css">
    <link rel="stylesheet"
        href="https://pe-pe-pe.herokuapp.com/public/atlasConocimiento/recursos/components/enlaceEstilo.css">



    <title>Expresión numérica - evaluación</title>
</head>



<body>
    <p>
        Comprendo las expresiones numéricas si:
    </p>
    
    <div id="doc">
        <bloque-component tipo="evaluacion"
            textoCabecera="Puedo expresar cualquier número en forma de expresión numérica usando cualquier operación aritmética.">

            <recuadro-component tipo="instruccionPointer">
                <div class="bloqueSeleccionDificultad">
                    <span>Selecciona la dificultad</span>
                    <input type="range" step="1" min="1" max="3" v-model="dificultadReto" id="inputDificultadReto">

                    <div class="valorDificultad">
                        {{dificultadReto}}
                    </div>

                </div>
                <div class="boton" @click="generarReto1()">
                    ¡Generar un reto!
                </div>
            </recuadro-component>


            <transition name="travelTop">
                <recuadro-component tipo="reto" v-show="numero1 && operacion1">

                    ¡Escribe una expresión numérica que represente el {{numero1}} usando una {{operacion1}} entre
                    {{dificultadReto==2?'un número y una expresión':dificultadReto==3?'dos expresiones':'dos números'}}!

                </recuadro-component>
            </transition>
        </bloque-component>


        <bloque-component tipo="evaluacion">
            <template #cabecera>
                Dada cualquier expresión numérica puedo señalar los operandos de cada operación.
            </template>

            <recuadro-component tipo="instruccionPointer">

                <div class="bloqueSeleccionDificultad">

                    Selecciona el nivel de dificultad

                    <input type="range" step="1" min="1" max="4" v-model="dificultadExpresionOperador"
                        id="inputDificultadOperador">

                    <div class="valorDificultad">
                        {{dificultadExpresionOperador}}
                    </div>
                </div>
                <div class="boton" @click="generarExpresionOperador">Generar expresión numérica</div>
            </recuadro-component>

            <transition name="travelTop">
                <recuadro-component id="expresionRetoOperador" tipo="reto" v-if="expresionRetoOperador"
                    :key="'expresion'+versionExpresionOperador">

                    <span style="font-size: 48px;">
                        \({{expresionStringOperador}}\)
                    </span>

                </recuadro-component>
            </transition>
        </bloque-component>

        <bloque-component tipo="evaluacion">
            <template #cabecera>
                Dada cualquier expresión numérica puedo describirla en términos de realización de operaciones
                aritméticas.
            </template>

            <recuadro-component tipo="instruccionPointer">

                <div class="bloqueSeleccionDificultad">

                    Selecciona el nivel de dificultad

                    <input type="range" step="1" min="1" max="4" v-model="dificultadExpresion2"
                        id="inputDificultadExpresion2">

                    <div class="valorDificultad">
                        {{dificultadExpresion2}}
                    </div>
                </div>
                <div class="boton" @click="generarExpresion2">Generar expresión numérica</div>
            </recuadro-component>

            <transition name="travelTop">
                <recuadro-component id="expresionReto2" tipo="reto" v-if="expresionReto2"
                    :key="'expresion'+versionExpresion2">

                    <span style="font-size: 48px;">
                        \({{expresionString2}}\)
                    </span>

                </recuadro-component>
            </transition>
        </bloque-component>



        <bloque-component tipo="evaluacion">
            <template #cabecera>
                Puedo evaluar cualquier expresión numérica.
            </template>
            <recuadro-component tipo="instruccionPointer">
                <div class="bloqueSeleccionDificultad">

                    Selecciona el nivel de dificultad

                    <input type="range" step="1" min="1" max="4" v-model="dificultadExpresion" id="inputDificultad">

                    <div class="valorDificultad">
                        {{dificultadExpresion}}
                    </div>
                </div>
                <div class="boton" @click="generarExpresion">Generar expresión numérica</div>
            </recuadro-component>

            <transition name="travelTop">
                <recuadro-component id="expresionReto" tipo="reto" v-if="expresionReto"
                    :key="'ecuacion'+versionExpresion">

                    <span style="font-size: 48px;">
                        \({{expresionString}}\)
                    </span>
                    <div class="bloqueRespuestaUsuario" v-show="estadoRespuesta!='correcto'">
                        <recuadro-component tipo="instruccionTeclado">
                            Escribe aquí tu respuesta
                        </recuadro-component>

                        <input type="number" style="width: 140px" id="inputRespuesta" ref="inputRespuestaUsuario"
                            @keypress.enter="$refs.inputComprobarRespuestaEvaluar.click()">

                        <div class="boton" ref="inputComprobarRespuestaEvaluar" @click="comprobarRespuesta">Comprobar
                        </div>


                    </div>
                    <transition name="popIn">
                        <recuadro-component tipo="infoResultado" :modo="estadoRespuesta" v-show="estadoRespuesta">
                            {{estadoRespuesta==='correcto'?'¡Correcto!':'Incorrecto... Sigue intentando'}}
                        </recuadro-component>
                    </transition>
                </recuadro-component>
            </transition>

        </bloque-component>
    </div>
</body>

</html>

<script>


    const doc = new Vue({
        el: "#doc",
        components: {
            recuadroComponent,
            bloqueComponent,
            enlaceComponent
        },
        data() {
            return {
                expresionReto: null,
                estadoRespuesta: null,
                expresionString: null,
                versionExpresion: 0,
                dificultadExpresion: 1,
                versionRespuesta: 0,

                expresionRetoOperador: null,
                estadoRespuestaOperador: null,
                expresionStringOperador: null,
                versionExpresionOperador: 0,
                dificultadExpresionOperador: 1,

                expresionReto2: null,
                estadoRespuesta2: null,
                expresionString2: null,
                versionExpresion2: 0,
                dificultadExpresion2: 1,
                versionRespuesta2: 0,

                expresionReto3: null,
                estadoRespuesta3: null,
                expresionString3: null,
                versionExpresion3: 0,
                dificultadExpresion3: 1,
                versionRespuesta3: 0,

                numero1: null,
                operacion1: "suma",
                dificultadReto: 1,
            }
        },
        methods: {
            generarExpresion() {
                this.estadoRespuesta = null;
                console.log("Generando con dificultad " + this.dificultadExpresion);
                let valor = Math.round(Math.random() * 20);
                let queSeaPotencia = Math.random() < (1 / 6);
                let operaciones = ["multiplicacion", "suma", "resta", "division", "radicacion"]; //Como la potenciacion no se puede generar para un valor dado, se generarán todas excepto potenciación. Esta será generada aparte sin valor dado

                let opcionesGenerarExpresion = {
                    keepInteger: true,
                    maxExponentePotencia: 3,
                    maxDenominadorEntero: 5,
                    maxGradoRadicacion: 3,
                    maxNumero: 50,
                    minNumero: 50,
                }


                let laExpresion = null;
                if (queSeaPotencia) { //Generar una potenciación sin especificar el valor.
                    console.log("Será potencia");
                    laExpresion = new ExpresionNumerica();
                    laExpresion.fillExpresion({operacion: "potenciacion"}, opcionesGenerarExpresion);
                }
                else {
                    laExpresion = new ExpresionNumerica({valor}, {...opcionesGenerarExpresion, operaciones});
                    laExpresion.fillExpresion();
                }

                let reexpresiones = Math.round(Number(this.dificultadExpresion) - 1);


                if (reexpresiones > 0) {
                    laExpresion.reexpresionar(reexpresiones, {...opcionesGenerarExpresion, operaciones});
                }
                console.log("Generada");

                this.expresionReto=laExpresion;
                this.expresionString = laExpresion.toMathJax();
                this.versionExpresion++;
                this.$nextTick(() => {
                    MathJax.typeset();
                })
            },
            comprobarRespuesta() {
                this.estadoRespuesta = null;

                this.$nextTick(() => {


                    let respuestaUsuario = this.$refs.inputRespuestaUsuario.value;
                    console.log(`Respuesta usuario ${respuestaUsuario}, ${typeof respuestaUsuario}`);
                    if (!respuestaUsuario || !this.expresionReto) {
                        return;
                    }
                    console.log("Comprobando");

                    respuestaUsuario = Number(respuestaUsuario);

                    if (respuestaUsuario === this.expresionReto.valor) {
                        this.estadoRespuesta = 'correcto';
                    }
                    else {
                        this.estadoRespuesta = 'incorrecto';
                    }
                })

            },

            generarExpresionOperador() {
                this.estadoRespuestaOperador = null;
                console.log("creando con dificultad " + this.dificultadExpresionOperador);
                let laExpresion=null;
                if (this.dificultadExpresionOperador < 4) {
                    laExpresion = ExpresionNumericaBuilder.generarExpresionNumericaRecursiva({}, this.dificultadExpresionOperador - 1, {keepInteger: true});
                }
                else if (this.dificultadExpresionOperador == 4) {
                    //Se hará una serie de términos sumados o restados los cuales son multiplicaciones o divisiones.
                    let expresiones = []
                    for (let i = 0; i < 4; i++) {
                        let termino = new ExpresionNumerica();
                        termino.fillExpresion({}, {keepInteger: true, operaciones: ["multiplicacion", "division", "potenciacion"]});
                        expresiones.push(termino);
                    }

                    let expresionFinal = expresiones[0];
                    for (let i = 1; i < expresiones.length; i++) {
                        expresionFinal = new ExpresionNumerica({
                            numero1: expresionFinal,
                            operacion: Math.random() < 0.5 ? "suma" : "resta",
                            numero2: expresiones[i],
                        });
                    }
                    laExpresion=expresionFinal;

                }
                else {
                    throw "Dificultad " + this.dificultadExpresionOperador + " no desarrollada"
                }

                this.expresionRetoOperador = laExpresion;
                this.expresionStringOperador =this.expresionRetoOperador.toMathJax(); 
                this.versionExpresionOperador++;
                this.$nextTick(() => {
                    MathJax.typeset();
                })
            },

            generarExpresion2() {
                this.estadoRespuesta2 = null;

                console.log("creando con dificultad " + this.dificultadExpresion2);
                let laExpresion=null;
                if (this.dificultadExpresion2 < 4) {
                    laExpresion = ExpresionNumericaBuilder.generarExpresionNumericaRecursiva({}, this.dificultadExpresion2 - 1, {keepInteger: true});
                }
                else if (this.dificultadExpresion2 == 4) {
                    //Se hará una serie de términos sumados o restados los cuales son multiplicaciones o divisiones.
                    let expresiones = []
                    for (let i = 0; i < 4; i++) {
                        let termino = new ExpresionNumerica();
                        termino.fillExpresion({}, {keepInteger: true, operaciones: ["multiplicacion", "division", "potenciacion"]});
                        expresiones.push(termino);
                    }

                    let expresionFinal = expresiones[0];
                    for (let i = 1; i < expresiones.length; i++) {
                        expresionFinal = new ExpresionNumerica({
                            numero1: expresionFinal,
                            operacion: Math.random() < 0.5 ? "suma" : "resta",
                            numero2: expresiones[i],
                        });
                    }
                    laExpresion=expresionFinal;

                }
                else {
                    throw "Dificultad " + this.dificultadExpresion2 + " no desarrollada"
                }

                this.expresionReto2 = laExpresion;
                this.expresionString2 = laExpresion.toMathJax();
                this.versionExpresion2++;
                this.$nextTick(() => {
                    MathJax.typeset();
                })
            },
            generarExpresion3() {
                this.estadoRespuesta3 = null;
                let valor = Math.round(Math.random() * 20);
                let queSeaPotencia = Math.random() < (1 / 6);
                let operaciones = ["multiplicacion", "suma", "resta", "division", "radicacion"]; //Como la potenciacion no se puede generar para un valor dado, se generarán todas excepto potenciación. Esta será generada aparte sin valor dado

                let opcionesGenerarExpresion = {
                    keepInteger: true,
                    maxExponentePotencia: 3,
                    maxDenominadorEntero: 5,
                    maxGradoRadicacion: 3,
                    maxNumero: 50,
                    minNumero: 50,
                }

                let laExpresion = this.expresionNumericaGenerarExpresionNumerica({valor}, {...opcionesGenerarExpresion, operaciones});

                if (queSeaPotencia) { //Generar una potenciación sin especificar el valor.
                    console.log("Será potencia");
                    laExpresion = this.expresionNumericaGenerarExpresionNumerica({operacion: "potenciacion"}, opcionesGenerarExpresion);
                }

                let reexpresiones = Math.round(Number(this.dificultadExpresion3) - 1);

                this.expresionReto3 = laExpresion;

                if (reexpresiones > 0) {
                    let plainExpresion = JSON.parse(JSON.stringify(this.expresionReto3));
                    this.expresionReto3 = this.expresionNumericaReexpresionarExpresion(plainExpresion, reexpresiones, {}, {...opcionesGenerarExpresion, operaciones});
                }

                this.expresionString3 = this.expresionNumericaToMathJax(this.expresionReto3);
                this.versionExpresion3++;
                this.$nextTick(() => {
                    MathJax.typeset();
                })
            },


            generarReto1() {
                console.log(`Generando numero 1`);

                let lastNumero1 = this.numero1;

                do {
                    var nuevoNumero = Math.round(Math.random() * 25);
                } while (nuevoNumero == this.numero1);
                console.log(`Retornando ${nuevoNumero}`);

                this.numero1 = null;

                this.$nextTick(() => {
                    this.numero1 = nuevoNumero;
                    this.escogerOperacion1();
                })
            },
            escogerOperacion1() {

                if (this.operacion1 == "suma") {
                    this.operacion1 = "multiplicación";
                }
                else if (this.operacion1 == "multiplicación") {
                    this.operacion1 = "resta";
                }
                else if (this.operacion1 == "resta") {
                    this.operacion1 = "división";
                }
                else if (this.operacion1 == "división") {
                    this.operacion1 = "suma";
                }
            }

        }
    })
</script>

<style>
    #expresionReto {
        font-size: 40px;
    }
</style>
