<div class="bloque-component" :class="{ejemplo, herramientaInteractiva, spoiler, cuento}">
    <div id="zonaCabecera" :class="{ejemplo, herramientaInteractiva, spoiler, cuento}">
        <img class="iconoBloque" :src="iconoSrc" />
        <div v-if="spoiler" id="textoSpoiler">¡Spoiler alert!</div>
        <div class="textoCabecera">
            {{textocabecera}}
        </div>
        
    </div>
    <div class="boton" v-on:click="desplegado=!desplegado">
        {{desplegado?textoCerrarBoton:textoBoton}}
    </div>
    <div id="desplegable" v-show="desplegado">
        <slot></slot>
    </div>
</div>